{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="django-container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card">
                    <h5 class="card-header">
                        Organizations <span
                            class="badge badge-secondary">{{ organization_list.count }}</span>
                    </h5>
                    <div class="card-body">
                        {% if organization_list %}
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th class="w-10 do_not_export">Action</th>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for organization in organization_list %}
                                        <tr>
                                            <td>
                                                <a href='{% url 'organizations:edit' organization.id %}'
                                                   id="organization-edit_{{ organization.id }}"><i
                                                        class="material-icons md-fi">edit</i></a>
                                                <a href='{% url 'organizations:delete' organization.id %}'
                                                   id="organization-delete_{{ organization.id }}"><i
                                                        class="material-icons md-fi">delete</i></a>
                                            </td>
                                            <td>{{ organization.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>No organizations found...</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm"
                           href='{% url 'organizations:create' %}'>New organization</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}