{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="django-container">
        <div class="grid">
            <div class="grid-sizer"></div>
            {% for journal in object_list %}
                <div class="grid-item">
                    <div class="card journal-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ journal.name }}</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet,
                                consectetur
                                adipiscing elit. Sed eu justo ut dui scelerisque
                                sodales
                                ac in risus. Morbi venenatis enim nisl, non pharetra
                                ipsum ultricies scelerisque. Suspendisse viverra sed
                                libero ac elementum. Ut purus dui, blandit quis
                                scelerisque ut, tempor id felis.</p>
                            <div id="div-extra-{{ journal.id }}"
                                 class="div-extra collapse">
                            </div>
                        </div>
                        <div class="card-footer journal-card-footer">
                            <a class="a-journal collapseButton"
                               data-toggle="collapse"
                               href="#div-extra-{{ journal.id }}"
                               data-id="{{ journal.id }}">More explanation and data
                                <i class="material-icons"
                                   style="vertical-align: top">expand_more</i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script>
            $('.grid').masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: '.grid-item',
                // use element for option
                columnWidth: '.grid-sizer',
                percentPosition: true
            });
        </script>
        <script>
            $(document).ready(function () {
                // get selector for all journal links
                const aJournal = $('.a-journal')
                // if journal is clicked...
                aJournal.on('click', function () {
                    // get selector for clicked journal link
                    const journal_id = $(this).attr("data-id")
                    // get selector for corresponding card footer
                    const cardFooter = $(this).parent()
                    // show spinner in footer
                    cardFooter.html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>')
                    // make ajax call
                    $.ajax({
                        type: 'post',
                        url: "{% url 'journals:detail' %}",
                        async: true,
                        dataType: 'json',
                        data: {
                            'csrfmiddlewaretoken': "{{ csrf_token }}",
                            journal_id: journal_id
                        },
                        // ajax returned successfully
                        success: function (data) {
                            // show "less" in footer
                            cardFooter.html('<a class="a-journal collapseButton" data-toggle="collapse" href="#div-extra-{{ journal.id }}"\n' +
                                '   data-id="{{ journal.id }}">Less explanation\n' +
                                '   <i class="material-icons" style="vertical-align: top">expand_less</i>\n' +
                                '</a>\n')
                            // get container for data
                            const divExtra = $('#div-extra-' + journal_id)
                            // fill container
                            divExtra.html(data['extra'])
                            // redraw grid!
                            // TODO: when using sqlite database this doesnt seem to work
                            $('.grid').masonry()
                        },
                        error: function (data) {
                            alert('Something went wrong')
                        }
                    });
                })
            });
        </script>
    </div>
{% endblock %}
{% block navigation %}
    {% include 'navigation.html' %}
{% endblock %}